#sup_cabecera #imgPerfil {
    width: 100px;

}

#menu_opciones{
    position: absolute;
    left: 0px;
    right: 0px;
    bottom:60px;
    margin: auto;
    background-color: rgb(9, 95, 175);
    width: 360px;
    height:465px;

    padding: 15px;
    display: none;

}
#menu_opciones #imgPerfil{
    width:100px;
    display: block;
    margin: auto;
}
#menu_ranking{
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 55px;
    margin: auto;
    background-color: white;
    width: 360px;
    height:410px;

    padding: 5px;
    display: none;

}

#menu_opciones a {
    background-color: rgb(252, 252, 252);
    padding: 5px 5px;
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 100px;

}

#b_opciones {
    background-color: rgb(161, 161, 161);
    display: inline;
    padding: 5px 5px;
    border: solid 1px;
    border-radius: 5px;

}

#editarImgPerfil {
    background-image: url('img/editar.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 25px;
    width: 25px;
    display:block;
    margin:auto;
    margin-top: 20px;
}

#menu_opciones form {
    width: 280px;
    height: 200px;
    background-color: azure;
    overflow:hidden;

}

#subir{
border-radius: 5px;
width:100px;
height:40px;
display: block;
margin:auto;
}
#form_imgPerfil {
    width: 285px;
    height: 100px;
    background-color: azure;
    margin-bottom: 20px;
    padding: 25px;
    display: none;
    border-radius: 25px;
}

#form_imgPerfil label {
    display: block;
    margin-bottom: 15px;
}

#logo {
    width: 100px;
}

#menu_ranking {

    height: 460px;
    overflow: auto;
}