#sup_cabecera #imgPerfil {
    width: 100px;

}

#menu_opciones,
#menu_ranking,
#menu_favoritos{
    position: absolute;
    left: 0px;
    right: 0px;
    bottom:58px;
    margin: auto;
    
    width: 358px;
    height:440px;
    max-height:445px;

    padding: 5px;
    display: none;

}

#menu_opciones{
    background-color: rgb(48, 112, 172);
}
#menu_opciones #imgPerfil{
    width:100px;
    display: block;
    margin: auto;
}
#menu_ranking{

    background-color: rgb(223, 214, 97);

}

#menu_favoritos{
   
    background-color: rgb(230, 87, 87);

}

#menu_opciones #cerrar_sesion {
    background-color: rgb(252, 252, 252);
    padding: 5px 5px;
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 100px;

}

#b_opciones {
    background-color: rgb(161, 161, 161);
    display: inline;
    padding: 5px 5px;
    border: solid 1px;
    border-radius: 5px;

}

#editarImgPerfil {
    background-image: url('img/editar.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 25px;
    width: 25px;
    display:block;
    margin:auto;
    margin-top: 20px;
}

#menu_opciones form {
    width: 280px;
    height: 200px;
    background-color: azure;
    overflow:hidden;

}

#subir{
border-radius: 5px;
width:100px;
height:40px;
display: block;
margin:auto;
}
#form_imgPerfil {
    width: 350px;
    height: 160px;
    background-color: azure;
    margin-bottom: 20px;
    padding: 25px;
    display: none;
    border-radius: 25px;
    position: absolute;
}

#form_imgPerfil label {
    display: block;
    margin-bottom: 15px;
}

#logo {
    width: 100px;
}

#menu_ranking {

    height: 460px;
    overflow: auto;
}

footer{
   
    text-align: center;
    font-size:0.7em;
    margin:30px auto 0px;
    padding: 5px 5px;
    height:110px;

    
 }

 footer a,
 footer p{
     display: inline-block;
     margin:0px;
     padding:0px;
 }

