#caja_juegos {
    max-height: 260px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    overflow-y: auto;
    

}

#caja_juegos div {

    width: 135px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    background-color: rgb(240, 243, 243);
    justify-content: flex-end;
    align-items: center;

}

#caja_juegos img {
    width: 100px;
    margin-bottom: 5px;
}

#caja_juegos a {
    padding: 5px 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

#sup_cabecera {
    padding: 10px 5px;
    background-color: aliceblue;



}

#sup_cabecera #imgPerfil {
    width: 100px;
    border: 3px solid white;
    border-radius: 10px;
    
}

#sup_cabecera #usu {
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

#usu{
    width: 350px;
}

#usu div {
    display: block;
    margin: 0px 10px;
    
    
}

.resaltar {
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 1.2em;
    text-transform: uppercase;
    width: 110px;
    max-width:115px;
    


}

#config {
    text-align: right;


}

#usu div p {

    font-weight: lighter;
    text-transform: capitalize;


}


#contenedor {
    position: relative;
}

#menu_inf {
    background-color: rgb(229, 243, 247);
    /* position: absolute; */
    left: 0;
    right: 0;
    margin:  auto ;
    bottom: 0;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5px;
    z-index: 1;

}

#menu_inf img {
    width: 50px;
    border: solid 1px white;
    border-radius: 5px;
    padding: 1px;
    margin-top: 3px;

}

#menu_inf div {

    border-radius: 5px;
    box-shadow: 0.5px 0.5px 5px;

}


#menu_inf div:active{
    transform: scale(0.9);
    background-color: rgb(221, 221, 221);
}



#vitrina{
    display: block;
    width:80px;
    height:100px;
padding: 0px;
   



}

#vitrina img{
    width:80px;
    
    height:80px;
}

#vitrina p{
    
text-align: center;
margin:0px;
font-size: 16px;
font-weight: bolder;
margin-top: -10px;
background-color: black;
color:aliceblue;
border-radius:5px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#cerrar{
    background-color: antiquewhite;
    
}

